/* MAKE IT LOOK PRETTY */

body {
    background: #666666;
}

#home-font {
    font-family: 'Indie Flower', cursive;
}

#new-nav {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    background: #111111;
}

.save-note {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background: #111111;
}

h5 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}